.reveal {

    pre[class*="language-"] {
        width: 100%;
        box-sizing: border-box;
        font-size: 0.6em;
        &:not(.line-numbers) {
            padding: 0.5em;
        }
        code {
            padding: 0;
        }
    }

    .container {
        display: flex;
        gap: 1em;
        align-items: flex-start;
        .col {
            flex: 1;
        }
    }

}
